<%= form_for @profile, :url => users_path do |profile| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= profile.label :name %><br>
    <%= profile.text_field :name %>
  </div>
  <div class="field">
    <%= profile.label :email %><br>
    <%= profile.text_field :email %>
  </div>
  <div class="field">
    <%= profile.label :password %><br>
    <%= profile.password_field :password %>
  </div>
  <div>
    <%= profile.label :password_confirmation %><br>
    <%= profile.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= profile.submit %>
  </div>
<% end %>
