<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @user.email.address %>
</p>

<p>
  <strong>Confirmed?:</strong>
  <%= check_box_tag @user.email.confirmed %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
